.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  @media screen and (max-width: 800px) {
      margin: 10px;
      padding-bottom: 12px;
      width: 350px;
      
      h1 {
        font-size: 20px;
        font-weight: bold;
      }

      h2 {
        font-size: 80px;
      }
  }

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }

}
